.login-form-container {
  width: 700px;
  max-width: 100%;
  margin: 8% auto 0 auto;

  background-color: white;
  -moz-box-shadow: 0 0 10px lightGrey;
  -webkit-box-shadow: 0 0 10px lightGrey;
  box-shadow: 0 0 10px lightGrey;
}

.login-form-wrapper {
  max-width: 75%;
  margin: 0 auto;
  padding: 50px;
}

@media only screen and (max-width: 1200px) {
  .login-form-wrapper {
    max-width: 85%;
  }
}
@media only screen and (max-width: 810px) {
  .login-form-wrapper {
    max-width: 100%;
  }
}
