.App {
  text-align: center;
  color: #3d414a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-family: "Playfair Display", "Museo Sans Rounded", "Roboto Condensed",
    "Roboto", "Arial", "sans-serif";
}

h1 {
  color: black;
}

h2,
h3 {
  color: #30a2cc;
}
label,
h4 {
  font-size: 1.2em;
  color: coral;
}
li,
p {
  font-family: "Museo Sans Rounded", "Roboto Condensed", "Roboto", "Arial",
    "sans-serif";
}

.red .active a,
.red .active a:hover {
  background-color: red;
}

.coral .active a,
.coral .active a:hover {
  background-color: coral;
}
