.recipe-short-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 3%;
}

.recipe-short-wrapper {
  background-color: white;
  align-items: center;
  align-content: stretch;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 30%;
  height: inherit;
  padding-bottom: 40px;
  margin: 10px;
}

.recipe-short-wrapper > h1,
h2,
h3 {
  margin: 0;
}
.recipe-short-wrapper > h2 {
  margin: 20px 0 0 0;
}
.recipe-short-image-container {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-top: -18px;
  font-family: "effra", "Avenir", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
}

.profile-wrapper {
  border-color: white;
  color: white;
  border: 1px solid;
  background: #30a2cc;
  padding: 5px;
}

.profile-item {
  margin: 2px;
  font-weight: bold;
  font-family: "Museo Sans Rounded", "Roboto Condensed", "Roboto", "Arial",
    "sans-serif";
}

.recipe-card-likes {
  margin: 0;
  padding: 0;
  width: 90px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -100%;
  left: calc(100% - 90px);
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 20px double;
  border-bottom: 2px double;

  border-color: coral;
  border-bottom-left-radius: 100%;
  color: coral;
}
.recipe-card-likes > h5,
.recipe-card-likes > .card-icon {
  float: right;
  margin-left: 25%;
}

@media only screen and (max-width: 1200px) {
  .recipe-short-wrapper {
    width: 45%;
  }
}
@media only screen and (max-width: 810px) {
  .recipe-short-wrapper {
    width: 90%;
  }
}
