.recipe-display-container {
  margin: 5% 15% 0 15%;
  padding-bottom: 5%;
  width: 70%;
  background-color: white;
}
.recipe-display-wrapper {
  padding: 5%;
}

.display-profile-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-top: -18px;
  justify-content: center;
}

.display-img {
  max-height: 500px;
}

.display-profile-wrapper {
  border-color: white;
  color: white;
  border: 1px solid;
  background: #30a2cc;
  padding: 5px;
}

.display-profile-item {
  margin: 2px;
  font-weight: bold;
}

.display-section-title {
  padding: 0 0 0 0;
  margin-bottom: 10px;
}
.ingredient-container {
  margin: 0 0 0 10%;
}

.ingredient-wrapper {
  padding: 6px 0;
}

.instruction-container {
  padding: 0 0 0 18px;
  margin: 0;
}
.instruction-wrapper {
  padding: 6px 0;
  margin: 0 20px;
}

li.borderless {
  border: 0 none;
}

.ingredient-container > li {
  font-size: 1em;
  margin: 0 0 0 -10%;
}

.instruction-container > li {
  font-size: 1.15em;
  margin: 0 0 0 0%;
}

ol > li::marker {
  font-weight: bold;
}

.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 20px;
}
.btn-likes {
  color: coral;
}
.btn-likes:hover:not(:active) {
  color: coral;
  opacity: 0.75;
}
.btn-likes:focus {
  box-shadow: none !important;
}
.btn-share:hover {
  cursor: pointer;
}
.btn-share:hover:not(:active) {
  opacity: 0.75;
}

.social-media-share-icon {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
