.search-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

input {
  width: 75%;
  font-size: 24px;
  /*starts cursor a bit further right*/
  padding-left: 10px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 0;
}

@media (max-width: 368px) {
  input {
    font-size: 20px;
    width: 70%;
  }
}
