body {
  margin: 0;
  background-color: #f2f1ee;
  font-family: "Playfair Display", "Museo Sans Rounded", "Roboto Condensed",
    "Roboto", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
